#deck {
    width: 2.5in;
    height: 3.5in;
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card {
    padding: 10% 10px 10% 10px;
}

#cardImg {
    font-size: 4rem;
}
